language: rust
sudo: false

# We use a simpler test set-up than for the main Rand repo since there should
# be no OS-specific code here. We do however test multiple Rust versions and
# both ARM and MIPS (emulated) platforms to test against CPU dependence.
matrix:
  include:
    - rust: 1.22.0
      env: DESCRIPTION="pinned stable Rust release"

    - rust: stable
      env: DESCRIPTION="stable Rust release, macOS"
      os: osx

    - rust: beta
      env: DESCRIPTION="beta Rust release"

    - rust: nightly
      env: DESCRIPTION="nightly features, benchmarks, documentation"
      install:
        - cargo --list | egrep "^\s*deadlinks$" -q || cargo install cargo-deadlinks
        - cargo deadlinks -V
      before_script:
        - pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH
      script:
        - cargo test
        - cargo test --benches
        # remove cached documentation, otherwise files from previous PRs can get included
        - rm -rf target/doc
        - cargo doc --no-deps --all --all-features
        - cargo deadlinks --dir target/doc
      after_success:
        - travis-cargo --only nightly doc-upload
    # Trust cross-built/emulated targets. We must repeat all non-default values.
    - rust: stable
      sudo: required
      dist: trusty
      services: docker
      env: DESCRIPTION="Linux (MIPS, big-endian)" TARGET=mips-unknown-linux-gnu
      install:
        - sh utils/ci/install.sh
        - source ~/.cargo/env || true
      script:
        - bash utils/ci/script.sh
    - rust: stable
      sudo: required
      dist: trusty
      services: docker
      env: DESCRIPTION="Android (ARMv7)" TARGET=armv7-linux-androideabi
      install:
        - sh utils/ci/install.sh
        - source ~/.cargo/env || true
      script:
        - bash utils/ci/script.sh

before_install:
  - set -e
  - rustup self update

# default script; not used by Trust targets:
script:
  - cargo test --all
  - cargo test --manifest-path rand_pcg/Cargo.toml --package rand_pcg --features serde1
  - cargo test --manifest-path rand_xorshift/Cargo.toml --package rand_xorshift --features serde1

after_script: set +e

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

env:
  global:
    secure: SZlKlPRph5X5dleH/i2ruq6EfpB53MoW0RDH8hGxdSOd8Cgxoc3O7t35n2yIRPYUQo8gI/24IcEWQoSLRdKRKQp3+6ik+ux0NXqtGbzCvcot9pu5HO/I3JWKWP8u2okBkFyP1HUaFOh1r9YasqnajnKoBrvMToasxjad7UvBmx7x0Gka2DkD5bU5fVRWS1amF7uz8gxn1HgCso24QIQ2rd/vcpcEy3UkzJJoOqLtV6rPonbnegXIudgg3hahSXRiI9Rs8vxzOXfw4aPtAFGlpo1GPqznikqBjmNxxNsS28Hwjrmg6iHPkayVA8Mm7ax9tXGYoi83HX45F3px0rq1mT4wxVZcNxabApOMW0YKdy+pFtQ3ooXDkooyk8/IMBNKKJCEZA1ZK0D+2aW1Nmg63kcn2fd7bXz7o9eZ7zpxWUfZiKsW1OGaYNK0JJufv400dXvQG9nNZn4kIO0uye3v+N51UjzzQu6/XVkVml/II8IU3ib0SXjS3UHf71qsMERKKtHHDcSUBUGEQ7NhssHsI5bq1Oav57MwCajOSrn8bD0ouAyNH2xFJSEyG0BUVXevg2L6neysh611G2v04/+VS56Uq0so34jSWQUwHzYNVMOfCCT0wSZXk7iRzaIUSAbkVNVEwcUcEqRaF4cwHpwRXl6K6S4Riigd2iysQjRKKZ4=

notifications:
  email:
    on_success: never
